[Desktop Entry]
Encoding=UTF-8
Name=Linux Password Vault için bağ
Type=Link
URL=http://senior.ceng.metu.edu.tr/2016/codefellas2/
Icon=text-html
Name[tr]=Linux Password Vault
